.background-image {
    background-image: url(https://img.freepik.com/free-photo/glasses-near-laptop-reflect-light-from-screen-dark-copy-space_169016-14893.jpg?t=st=1712036900~exp=1712040500~hmac=caecae11ecee2e5d590d2ca10d63e7d82dc3cdfe10e7fe80c018eb27f340c540&w=1920);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-gradient {
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(135,196,255,1) 0%, rgba(53,89,224,1) 100%) !important;
}

.card {
    height: 26rem !important;
}
.text-container {
    overflow-y: auto !important;
}
.list-item {
    list-style: none;
    cursor: pointer;
}
.small-text{
    font-size: smaller !important;
}
.parallax {
    background-image: url("https://img.freepik.com/foto-gratis/vista-navegador-codigo-html-sitio-web-impresa-papel-blanco-vista-cerca_211682-164.jpg?t=st=1712030741~exp=1712034341~hmac=97b5e73487b7939f52d391671e076cadefe06eac32a35aa4c7ef29102c6981ea&w=1920");
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: co;
  }
  .big-padding {
    padding-top: 150px !important;
  }
  .big-padding-bottom {
    padding-bottom: 150px !important;
  }
